@page

@using kmgiasoc.Permissions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.TuiEditor
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.Uppy
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.Slugify
@using kmgiasoc.Web.Pages.Deals.Deal
@using kmgiasoc.Localization
@using kmgiasoc.Web.Menus
@using kmgiasoc.Utilities

@model EditModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<kmgiasocResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Deal"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Deal"].Value);
    PageLayout.Content.MenuItemName = kmgiasocMenus.Deal;
}

@section scripts{
    <abp-script-bundle>
        <abp-script type="typeof(TuiEditorScriptContributor)" />
        <abp-script type="typeof(UppyScriptContributor)" />
        <abp-script type="typeof(SlugifyScriptContributor)" />
        <abp-script src="/Pages/Deals/Deal/index.js" />
    </abp-script-bundle>
}
@section styles {
    <abp-style-bundle>
        <abp-style type="typeof(TuiEditorStyleContributor)" />
        <abp-style src="/Pages/Deals/Deal/index.css" />
    </abp-style-bundle>
}

<main class="bg-gray-300 mb-32">
    <div class="flex flex-wrap py-12">
        <div class="w-full md:w-9/12 px-2 mr-auto ml-auto">
            <div class="container relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg overflow-hidden">
                <div class="container items-center px-5 py-12 lg:px-20">
                    <div class="flex flex-col w-full p-10 px-8 pt-6 mx-auto my-6 mb-4 transition duration-500 ease-in-out transform bg-white border rounded-lg lg:w-1/2">
                        <h1 class="page-title text-lg font-bold space--mb-0"> @L["CreateDealPage"] </h1>
                        <form action="@UrlFilter.BuildCreateDealUrl()" method="post" enctype="multipart/form-data" novalidate="novalidate" id="form-deal-create">
                            @Html.AntiForgeryToken()
                            <div class="relative pt-4">
                                <label asp-for="ViewModel.Link" class="text-base leading-7 text-blueGray-500">@L["DealLink"]</label>
                                <input asp-for="ViewModel.Link" type="text" placeholder="https://www.link.com/deal" autocomplete="off"
                                       class="w-full border-2 border-gray-300 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                                <p class="text-xs text-gray-400 p-2">
                                    @L["DealLinkNotice"]
                                </p>
                            </div>
                            <h2 class="page-title text-lg font-bold space--mb-0"> @L["Information"] </h2>
                            <div class="flex flex-wrap flex-row">
                                <div class="w-1/2 relative pt-4 pr-2">
                                    <label asp-for="ViewModel.PricePromo" class="text-base leading-7 text-blueGray-500"> @L["DealPricePromo"] <span>(@L["Currency"])</span></label>
                                    <input asp-for="ViewModel.PricePromo" type="number" placeholder="0"
                                           class="w-full border-2 border-gray-300 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">

                                </div>
                                <div class="w-1/2 relative pt-4">
                                    <label asp-for="ViewModel.Price" class="text-base leading-7 text-blueGray-500"> @L["DealPrice"] <span>(@L["Currency"])</span></label>
                                    <input asp-for="ViewModel.Price" type="number" placeholder="0"
                                           class="w-full border-2 border-gray-300 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                                </div>
                                <div class="w-1/2 relative pt-4 pr-2">
                                    <label asp-for="ViewModel.PriceShipping" class="text-base leading-7 text-blueGray-500"> @L["DealPriceShipping"] <span>(@L["Currency"])</span></label>
                                    <input asp-for="ViewModel.PriceShipping" type="number" placeholder="0"
                                           class="w-full border-2 border-gray-300 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                                </div>
                            </div>
                            <div class="flex mt-2">
                                <label asp-for="ViewModel.FreeShipping" class="flex items-center">
                                    <input asp-for="ViewModel.FreeShipping" type="checkbox" class="form-checkbox ">
                                    <span class="ml-2 text-blueGray-500">@L["DealFreeShipping"]</span>
                                </label>
                            </div>
                            <div class="relative pt-4">
                                <label asp-for="ViewModel.CodePromo" class="text-base leading-7 text-blueGray-500">@L["DealCodePromo"]</label>
                                <input asp-for="ViewModel.CodePromo" type="text" placeholder="@L["DealCodePromoPlaceholder"]"
                                       class="w-full border-2 border-gray-300 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            </div>

                            <div class="relative pt-4">
                                <label asp-for="ViewModel.Title" class="text-base leading-7 text-blueGray-500">@L["DealTitle"]</label>
                                <input asp-for="ViewModel.Title" type="text" placeholder="@L["DealTitlePlaceholder"]"
                                       class="w-full border-2 border-gray-300 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            </div>

                            <div @*asp-for="ViewModel.Description"*@
                                 id="ContentEditor"
                                 data-placeholder="@L["DealDescriptionPlaceholder"]"
                                 data-input-id="@Html.IdFor(x => x.ViewModel.Description)"
                                 class="w-full h-32 px-4 py-2 mt-2 text-base text-blueGray-500 transition duration-500 ease-in-out transform bg-white border rounded-lg focus:border-blue-500 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 apearance-none autoexpand content-editor cms-kit-editor">
                            </div>
                            @Html.HiddenFor(x => x.ViewModel.Description)
                            @Html.HiddenFor(x => x.ViewModel.ShortDescription)

                            <div class="relative pt-4">
                                <label for="name" class="text-base leading-7 text-blueGray-500">Chọn Danh Mục</label>
                                <ul id="filter1"
                                    class="filter-switch flex flex-wrap relative p-1 space-x-1 rounded-md font-semibold text-blue-600 my-4">

                                    @foreach (var g in Model.DealCategories)
                                    {
                                        <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                                            <input type="radio" asp-for="ViewModel.DealCategoryId" value="@g.Value" id="CategoryId@(g.Value)" class="sr-only">
                                            <label for="CategoryId@(g.Value)"
                                                   class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                                                @g.Text
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div class="relative pt-4">
                                <label asp-for="ViewModel.BeginPromo" class="text-base leading-7 text-blueGray-500">@L["DealBeginPromo"]</label>
                                <input asp-for="ViewModel.BeginPromo" type="datetime-local"
                                       class="w-full border-2 border-gray-300 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            </div>

                            <div class="relative pt-4">
                                <label asp-for="ViewModel.EndPromo" class="text-base leading-7 text-blueGray-500">@L["DealEndPromo"]</label>
                                <input asp-for="ViewModel.EndPromo" type="datetime-local"
                                       class="w-full border-2 border-gray-300 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            </div>

                            <div class="relative mt-4">
                                <label asp-for="ViewModel.CityId" class="text-base leading-7 text-blueGray-500">@L["DealCity"]</label>
                                <select asp-for="ViewModel.CityId" class="w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
                                    @foreach (var g in Model.Citites)
                                    {
                                        <option value="@(g.Value)">@(g.Text)</option>
                                    }

                                </select>
                            </div>

                            <div class="relative pt-4">
                                <div class="bg-white px-2">
                                    <div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-xl">
                                        <div class="md:flex">
                                            <div class="w-full p-3">
                                                <div id="dealImgUpload" 
                                                     class="@(Model.ViewModel.CoverImageMediaId != null ? "hidden" : "") relative border-dotted h-48 rounded-lg border-dashed border-2 border-cyan-700 bg-gray-100 flex justify-center items-center">
                                                    <div class="absolute">
                                                        <div class="flex flex-col items-center">
                                                            <i class="fa fa-folder-open fa-4x text-cyan-700"></i>
                                                            <span class="block text-gray-400 font-normal">Attach your image here</span>
                                                        </div>
                                                    </div>
                                                    <input type="file" asp-for="DealUploadFileDto.File" class="h-full w-full opacity-0 cursor-pointer" />
                                                    @Html.HiddenFor(x => x.ViewModel.CoverImageMediaId)
                                                    @*<input id="DealUploadFileDto_File" type="file" class="h-full w-full opacity-0 cursor-pointer" name="">*@
                                                </div>
                                                <div id="dealImgUploaded" @(Model.ViewModel.CoverImageMediaId != null ? "class='hidden'" : "") class="hidden">
                                                    <img id="dealImgPreview" src="@UrlFilter.BuildImageUrl(@Model.ViewModel.CoverImageMediaId)" class="flex flex-col items-center" />
                                                    <a id="removeDealImgFile" href="#" class="text-red-600">Remove image</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="relative pt-4">
                                <label asp-for="ViewModel.LocalShop" class="text-base leading-7 text-blueGray-500">@L["DealLocalShop"]</label>
                                <input asp-for="ViewModel.LocalShop" type="text" placeholder="@L["DealLocalShopPlaceholder"]"
                                       class="w-full border-2 border-gray-300 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                            </div>

                            <div class="flex items-center w-full pt-4 mb-4">
                                <button id="AddDealButton"
                                        class="w-full py-3 text-base text-white transition duration-500 ease-in-out transform bg-cyan-800 rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-cyan-500">
                                    @L["Submit"].Value
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full md:w-3/12 px-2 mr-auto ml-auto">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
                <img alt="..."
                     src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1051&amp;q=80"
                     class="w-full align-middle rounded-t-lg">
                <blockquote class="relative p-8 mb-4">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                         class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                        <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
                    </svg>
                    <h4 class="text-xl font-bold text-white">
                        Top Notch Services
                    </h4>
                    <p class="text-md font-light mt-2 text-white">
                        The Arctic Ocean freezes every winter and much of the
                        sea-ice then thaws every summer, and that process will
                        continue whatever happens.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</main>